.container {
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.image {
  object-fit: cover;
  object-position: top;
}

.content {
  padding: 0.8em 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2e2e2e;
}

.name {
  font-size: 1.4rem;
}

.species {
  font-size: 1.1rem;
  margin-top: 0.5em;
}

.status {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5em;
  font-style: italic;
}
