.container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.input_name {
  font-size: 0.7rem;
  border-radius: 25px;
  font-weight: 2rem;
  border: none;
  outline: none;
  padding: 0.8em 1.2em;
}

.status_opts_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  font-size: 0.8rem;
}

@media (min-width: 600px) {
  .input_name {
    font-size: 0.95rem;
  }

  .status_opts_container {
    font-size: 0.95rem;
  }
}
