.character_list_container {
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 60px;
}

.character_list {
  display: grid;
  gap: 20px;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, 300px);
}

.header {
  height: 400px;
  color: white;
  background-color: #063970;
  display: grid;
  place-content: center;
}

.search {
  margin-top: 2rem;
}
